@model List<BlogMVC.Data.Content>

@{
    ViewData["Title"] = "Home Page";

}

@using System.IO;

@using System.Globalization;




<head>
    <link rel="stylesheet" href="~/css/css2.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<div class="row mb-2">
    @foreach (var content in Model)
    {

        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <strong class="d-inline-block mb-2 text-primary">@content.Genre</strong>
                    <h3 class="mb-0">
                        <a class="text-dark" asp-controller="Home" asp-action="Post" asp-route-id="@content.Id"> @content.Title</a>
                    </h3>
                    <div class="mb-1 text-muted">
                        @content.Created.ToString("dd.MM.yyyy")
                    </div>

                    <p class="card-text mb-auto">@content.Body</p>
                    <a asp-controller="Home" asp-action="Post" asp-route-id="@content.Id">Continue reading</a>
                </div>
            </div>
        </div>


    }
</div>

